.Badge_item {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.Avatar_container {
  margin: 0;
  padding-left: 1em;
}

.Badge_avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.Badge_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 2em;
}

.Badge_twitter {
  display: flex;
}